{% extends "base_email.html" %}

{% block email_title %}Verification Code - {{ company_name }}{% endblock %}

{% block header_subtitle %}Secure Account Verification{% endblock %}

{% block content_title %}Verification Code{% endblock %}

{% block content_description %}
    We received a request to verify your account.
    Please use the code below to complete the verification process.
{% endblock %}

{% block main_content %}
    <div class="code-container">
        <div class="code-label">Your Code</div>
        <div class="verification-code">{{ code }}</div>
        <div class="code-info">Click the code to copy</div>
    </div>

    <div class="notice-box warning">
        <div class="icon">⏰</div>
        <div class="notice-text">
            Code expires in {{ expire_minutes }} minutes
        </div>
    </div>
{% endblock %}

{% block additional_content %}
    <div class="info-block">
        <h3>🔒 Security Information</h3>
        <p>
            If you didn't request this code, please ignore this email.
            Your account will remain secure. Never share this code with anyone.
        </p>
    </div>
{% endblock %}